<%- include header %>
<form method="post">
  产品缩略图上传：<br />
  <p><input type="text" name="imageUrl" id="url1" value="" /> <input type="button" id="image1" value="选择图片" /></p>
  产品名：（不能为空）<br />
  <input type="text" name="title" value=""/><br />
  <br />
  产品类别：  <select name="type">
  				<option value = "循环系统用药物">循环系统用药物</option>
  				<option value = "神经系统用药物">神经系统用药物</option>
  				<option value = "消化系统用药物">消化系统用药物</option>
  				<option value = "抗感染用药物">抗感染用药物</option>
  				<option value = "血液系统用药物">血液系统用药物</option>
  				<option value = "中成药">中成药</option>
  				<option value = "其他">其他</option>
  			</select><br />
  			<br />
  厂家：  <input type="text" name="producer" value=""/><br />
  <br />简介：<input type="text" name="synopsis" value=""/><br /><br />
  产品详细介绍：<br />
  <textarea name="post" rows="20" cols="100"></textarea><br />
  <input type="submit" value="提交"/>
</form>
<%- include footer %>